<<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>회사목록</title>
</head>
<body>
	<h1>과자회사 목록들</h1>
	<table border="1">
		<thead>
			<tr>
				<th>회사ID</th>
				<th>회사이름</th>
				<th>회사주소</th>
				<th>회사번호</th>
			</tr>
		</thead>
		<tbody><!--${} DB에 있는 이름과 같게 -->
			<tr th:each=" c : ${comList}">
				<td th:text="${c.company_id}"></td> 
				<td th:text="${c.company_name}"></td>
				<td th:text="${c.company_address}"></td>
				<td th:text="${c.company_phone}"></td>
			</tr>
		</tbody>
	</table>
	<a href="/">메인으로 돌아가기</a>
</body>
</html>