<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>회사목록</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
crossorigin="anonymous">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/inquiry.css">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
           
            <a class="navbar-brand" href="#">  <!-- 브랜드 이미지 -->
		      <img src="https://cdn.icon-icons.com/icons2/3915/PNG/512/yourtraveldottv_logo_icon_249126.png" 
		      alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
     		 </a>
     		 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="brand-title">
            	<a style="color:white">WebToon</a>
            </div>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/allSnack">웹툰</a>
                    </li>
                  
                    <li class="nav-item">
                        <a class="nav-link" href="#">도전만화 등록</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                
                <form class="d-flex" role="search">   <!-- 검색창 DB 연동에 대해서 생각 -->
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                
            </div>
        </div>
    </nav>


	
    <div class="boxs">
        
        <div class="posts">

                <!-- article : 블로그나 글, 뉴스 기사, 포럼 게시물 등과 같이 독립적으로
                               작성하거나 재사용할 수 있는 내용을 작성할 때 사용 -->
                <div class="article">
                    <div class="container mb-5">
        <h2 class="mb-4">글 작성</h2>
        <form>
            <div class="mb-3">
                <label class="form-label">제목</label>
                <input type="text" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">작성자</label>
                <input type="text" class="form-control" required>
            </div>
            <div class="mb-3">
                <label class="form-label">내용</label>
                <textarea type="text" class="form-control" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-dark">작성</button>
        </form>
    </div>
                </div>

                

        </div><!--posts-->

        <!-- aside : 본문 내용과 간접적으로 관련된 내용을 표시할 때 사용
                    예를 들어 블로그 페이지의 사이드 바, 광고, 관련 링크, 저자정보 등 -->
        <div class="aside">
            <h2>소개</h2>
            <p>
                안녕하세요. 저의 블로그입니다. 제 블로그에 오신 것을 환영합니다.
                여기서 다양한 생각과 경험을 공유합니다.
            </p>
        </div><!--aside-->

       

    </div><!--boxs-->
        
	<!--  
	<table border="1">
		<thead>
			<tr>
				<th>회사ID</th>
				<th>회사이름</th>
				<th>회사주소</th>
				<th>회사번호</th>
			</tr>
		</thead>
		<tbody>  ${} DB에 있는 이름과 같게 
			<tr th:each=" c : ${comList}">
				<td th:text="${c.company_id}"></td> 
				<td th:text="${c.company_name}"></td>
				<td th:text="${c.company_address}"></td>
				<td th:text="${c.company_phone}"></td>
			</tr>
		</tbody>
	</table>
	-->
	
	 <footer class="footer mt-5">
            <div class="container text-center">
              <p>&copy; 2024 KH-T Webtoon. All Teemplay Semi-Project.</p>
              <p><a href="#">개인정보처리방침</a> | <a href="#">이용약관</a> | <a href="inquiry">건의사항 등록</a></p>
            </div>
     </footer>
	
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>
</html>