<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.khmall.mapper.ProductMapper"> <!-- interface주소 -->
	<insert id="insertProduct" parameterType="com.khmall.dto.Goods">
	INSERT INTO goods (goods_id, goods_name, goods_price, goods_quantity)
	VALUES (goods_seq.NEXTVAL, #{goods_name}, #{goods_price}, #{goods_quantity})
			<!-- id 값은 시퀀스로 받았잖아 멍청아 -->
	
	</insert>
</mapper>